@import './base.css';
.settings {
  margin: 15px auto;
}
.canvas {
  height: 90%;
  max-height: 744px;
  border-radius: 10px;
}
.scrollWrapper {
  overflow:auto;
}
label {
  margin: 2px 1em;
  display: inline-block;
}

.matches{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: center;
}
.matches li {
  margin:1em;
  padding:1em;
  background-color: #e3e3e3;
  width:fit-content;
  border-radius:10px;
}
.matches li img{
  display: block;  
  object-fit: contain;
  width:160px;
}

.blank{
  height:300px
}